<div class="maps__form" data-game-target="newMap">
    <div class="maps__form-title">
        <h4>New Game Map</h4>
    </div>
{#    {{ form_start(form) }}#}
{#    {{ form_row(form.title) }}#}
{#    {{ form_row(form.content) }}#}
{#        {{ form_rest(form) }}#}
{#    {{ form_end(form) }}#}
</div>
</div>
