<div class="games__new-map" data-games-target="newMap">
    <div class="games__form-wrapper">
        <div class="games__form-title">
            <h4>New Game Map</h4>
        </div>
    </div>
{#    {{ form_start(form) }}#}
{#    {{ form_row(form.title) }}#}
{#    {{ form_row(form.content) }}#}
{#        {{ form_rest(form) }}#}
{#    {{ form_end(form) }}#}
</div>
