<div class="profile__upload" data-profile-target="upload">
    <div class="profile__upload-title">
        <h4>{{ 'profile.form.title'|trans }}</h4>
    </div>
    {{ form_start(form) }}
    {{ form_row(form.image) }}
    <div class="profile__form-buttons">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
</div>
</div>
